/* Global stylees */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
    color:rgb(0, 0, 0);
    line-height: 1.6;
    text-align: center; 
}
/* header */
header {
    background-color: rgb(57, 150, 238);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-style: italic;
    margin-top: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px
}

nav a:hover {
    text-decoration: underline;
}

/* prpomo section */
section {
    padding: 20px;
}

section h2 {
    color:rgb(215, 147, 64)
}

li {
    list-style: inside;
}

/* menu table */ 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

thead {
    background-color: blanchedalmond;
} 

/* form */
form {
    background-color: rgb(174, 164, 245); 
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    font-weight: bold;
}

form input [ type="text" ],
form input[type="email"],
form select,
form textarea {
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}

form button {
    background-color: #67b0f0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #c4b6f9;
}

/* contact */
#contact p {
    border: 2px solid #ed9772;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    width: max-content;
}

/* footer */
footer {
    background-color: rgb(74, 215, 215);
    color: white;
    text-align: center;
    padding: 10 px;
    margin-top: 20px;
}
